<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/student/submit" method="post">
  <input type="text" name ="studentId"/>
  <input type="text" name ="courseId"/>
  <button type="submit">Submit</button>
</form>